 <tr>
 <td><%= link_to evaluation.created_at.strftime("%e/%m/%Y "), [evaluation], :action => :show %> </td>
 <td >  <%= evaluation.user.name %> </td>
 <td><%= evaluation.evaluation %><%= link_to "Edit", (edit_evaluation_path(evaluation)) %></td>
 </tr>
 
  
 
