
  <nav class="round">
  
  <%=
    nav_bar :patient do |nb|
      nb.nav_item :treatment, treatment_path(@treatment)
      nb.nav_item :edit_treatment, edit_treatment_path(@treatment)
      nb.nav_item :delete, treatment_path(@treatment), :method => :delete
      nb.nav_item :treatments, patient_treatments_path(@treatment.patient)
      nb.nav_item :new_treatment, new_patient_treatment_path(@treatment.patient)
     end
  %>
      
   
 
  </nav>
