 <tr>
 <td><%= link_to treatment.created_at.strftime("%e/%m/%Y "), [treatment], :action => :show %> </td>
 <td >  <%= treatment.user.name %> </td>
 <td><%= treatment.treatment %><%= link_to "Edit", (edit_treatment_path(treatment)) %></td>
 </tr>
 
  
 
