
  <nav class="round">
  
  <%=
    nav_bar :patient do |nb|
      nb.nav_item :patient, patient_path
      nb.nav_item :edit_patient, edit_patient_path
      nb.nav_item :delete_patient, patient_path(@patient), :method => :delete
      nb.nav_item :treatments, patient_treatments_path(@patient) unless(@patient.treatments).nil? 
      nb.nav_item :new_treatment, new_patient_treatment_path(@patient) unless(@patient).nil?
     end
  %>
      
   
  </nav>
