<li>
  
  <%= link_to patient.full_name , patient %>
  | <%= link_to "Edit" , edit_patient_path(patient) %> 
  <% if current_user.admin? %>
    | <%= link_to "Delete", patient, :method => :delete, :confirm => "You sure?",
                        :title => "Delete #{patient.f_name} #{patient.s_name}" %>
  <% end %>
</li>

