<% content_for :sidebar do %>
  <%= render "layouts/navigation" %>
<% end %>
<h2>New Patient</h2>
 
    <%= form_for(@patient) do |f| %>
    <%= render 'fields', :f => f %>
    <div class="actions">
      <%= f.submit "Create Patient" %>
    </div>
    <% end %>
    
   
   

  
